section[data-mb_collection_id]:before,
footer[data-mb_collection_id]:before {
	content: "Let op, dit blok is gekoppeld aan een collectie. Pas de inhoud van dit blok niet op deze pagina aan maar via Collecties.";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #ffffff;
	background-color: ##E13237;
	text-align: center;
}
